**/*.session
**/*.dat
**/*.log
**/log

.config/newsboat/cache.db
.config/waylyrics/ncm-cookie
.config/ncmpcpp/error.log
.config/yazi/bookmark
.config/zsh/.zsh_history
.config/zsh/.zcompdump

.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/playlists/

private/
