configuration {
    // dpi: 144;
    font: "monospace 15";
    // font: "monospace 13";
    modi: "drun,run,window,ssh,emoji";
    display-ssh:       " ";
    display-run:       " ";
    display-drun:      " ";
    display-window:    " ";
    display-emoji:     " ";
    // display-combi:     " ";
    // display-clipboard: " ";
    // display-calc:      " ";
    // display-p:         "⏻ ";
    show-icons:        true;
}

@import "catppuccin-mocha"
